<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.flouis.dao.LogMapper">
	<resultMap id="BaseResultMap" type="com.flouis.entity.Log">
		<id column="id" jdbcType="BIGINT" property="id"/>
		<result column="content" jdbcType="VARCHAR" property="content"/>
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
	</resultMap>

	<sql id="Base_Column_List">
		id, content, create_time
	</sql>

	<select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
		select <include refid="Base_Column_List"/>
		from log
		where id = #{id,jdbcType=BIGINT}
	</select>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from log
		where id = #{id,jdbcType=BIGINT}
	</delete>

	<insert id="insertSelective" parameterType="com.flouis.entity.Log"
			useGeneratedKeys="true" keyColumn="id" keyProperty="id">
		insert into log
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="content != null">
				content,
			</if>
				create_time
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="content != null">
				#{content,jdbcType=VARCHAR},
			</if>
			NOW()
		</trim>
		<selectKey keyProperty="id" resultType="long" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
	</insert>

	<update id="updateByPrimaryKeySelective" parameterType="com.flouis.entity.Log">
		update log
		<set>
			<if test="content != null">
				content = #{content,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
		</set>
		where id = #{id,jdbcType=BIGINT}
	</update>

</mapper>