<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:tx="http://www.springframework.org/schema/tx"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
	   http://www.springframework.org/schema/beans/spring-beans.xsd
	   http://www.springframework.org/schema/context
	   http://www.springframework.org/schema/context/spring-context.xsd
	   http://www.springframework.org/schema/tx
	   http://www.springframework.org/schema/tx/spring-tx.xsd">

	<!-- 加载数据源配置文件 -->
	<context:property-placeholder location="classpath:config/db.properties"/>

	<!-- 数据源配置 -->
	<bean id="datasource" class="com.alibaba.druid.pool.DruidDataSource" init-method="init" destroy-method="close">
		<property name="driverClassName" value="${datasource.connection.driver_class}"/>
		<property name="url" value="${datasource.connection.url}"/>
		<property name="username" value="${datasource.connection.username}"/>
		<property name="password" value="${datasource.connection.password}"/>
		<property name="initialSize" value="${datasource.connection.initialPoolSize}"/>
		<property name="minIdle" value="${datasource.connection.minIdleTime}"/>
		<property name="maxActive" value="${datasource.connection.maxActive}"/>
		<property name="maxWait" value="${datasource.connection.maxWait}"/>
	</bean>

	<!-- Spring整合Mybatis -->
	<!-- 创建Mybatis的SqlSessionFactory Bean —— 一个可以解析并执行sql映射文件的组件 -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="datasource"/>
		<property name="configLocation" value="classpath:config/mybatis.xml"/>
		<property name="mapperLocations" value="classpath:mapper/*.xml"/>
	</bean>
	<!-- 配置扫描Dao包，依赖注入IOC容器 -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.flouis.dao"/>
		<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
	</bean>

	<!-- Spring事务配置 -->
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="datasource"/>
	</bean>
	<!-- 开启Spring事务注解 -->
	<tx:annotation-driven transaction-manager="transactionManager"/>

</beans>